Repository Cloudbox/autoscan, pull requests merged in 2020-12, with the labels that each got.

#67 feat: add scan-delay configuration option
  README.md
  cmd/autoscan/main.go
  processor/datastore.go
  triggers/bernard/bernard.go
  triggers/bernard/limiter.go
Labels: cmd, feature

#73 refactor(emby): remove fatal from library match
  targets/emby/emby.go
Labels: refactor, targets

#76 feat(triggers): manual
  README.md
  cmd/autoscan/main.go
  triggers/manual/manual.go
  triggers/manual/manual_test.go
Labels: feature, triggers

#77 refactor: use timestamp for logs
  cmd/autoscan/main.go
Labels: logging, refactor

#78 docs: manual trigger
  README.md
Labels: docs
