Repository Cloudbox/autoscan, pull requests merged in 2020-08, with the labels that each got.

#24 refactor(targets): switch to emby api
  targets/emby/api.go
  targets/emby/available.go
  targets/emby/datastore.go
  targets/emby/emby.go
  targets/emby/scan.go
Labels: bug, refactor, targets

#26 refactor: remove scan size and metadata
  autoscan.go
  processor/datastore.go
  processor/datastore_test.go
  triggers/lidarr/lidarr.go
  triggers/lidarr/lidarr_test.go
  triggers/radarr/radarr.go
  triggers/radarr/radarr_test.go
  triggers/sonarr/sonarr.go
  triggers/sonarr/sonarr_test.go
Labels: processor, refactor, triggers

#27 fix(plex): deserialise the correct library id
  targets/plex/api.go
Labels: bug, targets

#29 build(ci): adjust artefact cron to daily
  .github/workflows/artifact.yml
Labels: build, ci

#28 refactor: minor changes
  autoscan.go
  processor/processor.go
  targets/emby/api.go
  targets/emby/emby.go
  targets/emby/scan.go
  targets/plex/api.go
  targets/plex/plex.go
  targets/plex/scan.go
Labels: processor, refactor, targets

#30 fix(plex): json parsing
  targets/plex/api.go
Labels: bug, targets

#31 feat(triggers): bernard
  .github/workflows/build.yml
  .github/workflows/cleanup.yml
  README.md
  autoscan.go
  autoscan_test.go
  cmd/autoscan/main.go
  go.mod
  go.sum
  processor/datastore.go
  processor/datastore_test.go
  processor/processor.go
  targets/emby/emby.go
  targets/plex/plex.go
  triggers/bernard/bernard.go
  triggers/bernard/datastore.go
  triggers/bernard/filters.go
  triggers/bernard/limiter.go
  triggers/bernard/paths.go
  triggers/bernard/postprocess.go
  triggers/lidarr/lidarr.go
  triggers/lidarr/lidarr_test.go
  triggers/radarr/radarr.go
  triggers/radarr/radarr_test.go
  triggers/sonarr/sonarr.go
  triggers/sonarr/sonarr_test.go
Labels: feature, triggers

#32 build(docker): cleanup after branch removal
  .github/workflows/build.yml
  .github/workflows/cleanup.yml
Labels: build, ci

#33 fix(trigger/bernard): dont try and retrieve the folder path for a drive id
  go.mod
  go.sum
  triggers/bernard/bernard.go
  triggers/bernard/paths.go
  triggers/bernard/postprocess.go
Labels: bug, triggers

#34 refactor: folders of madness
  autoscan.go
  cmd/autoscan/main.go
  processor/datastore.go
  processor/datastore_test.go
  processor/processor.go
  targets/emby/emby.go
  targets/plex/plex.go
  triggers/bernard/bernard.go
  triggers/lidarr/lidarr.go
  triggers/lidarr/lidarr_test.go
  triggers/radarr/radarr.go
  triggers/radarr/radarr_test.go
  triggers/sonarr/sonarr.go
  triggers/sonarr/sonarr_test.go
Labels: processor, refactor, targets, triggers

#35 refactor(triggers/bernard): folder level events
  triggers/bernard/bernard.go
  triggers/bernard/datastore.go
  triggers/bernard/paths.go
  triggers/lidarr/lidarr.go
  triggers/lidarr/lidarr_test.go
  triggers/lidarr/testdata/blink-182.json
Labels: refactor, triggers

#38 feat(triggers): inotify
  README.md
  autoscan.go
  cmd/autoscan/main.go
  go.mod
  go.sum
  triggers/bernard/bernard.go
  triggers/bernard/filters.go
  triggers/bernard/paths.go
  triggers/inotify/inotify.go
Labels: feature, triggers

#40 docs: remove retries
  README.md
  cmd/autoscan/main.go
Labels: docs

#41 docs: use publicly available docker url
  README.md
Labels: docs
