Repository Cloudbox/autoscan, pull requests merged in 2021-02, with the labels that each got.

#93 fix(triggers/inotify): handle err argument in walk func - resolves #92
  triggers/inotify/inotify.go
Labels: bug, triggers

#91 feat(triggers): support the new sonarr events
  README.md
  triggers/lidarr/lidarr.go
  triggers/radarr/radarr.go
  triggers/sonarr/sonarr.go
  triggers/sonarr/sonarr_test.go
  triggers/sonarr/testdata/episode_delete.json
  triggers/sonarr/testdata/rename.json
  triggers/sonarr/testdata/series_delete.json
  triggers/sonarr/testdata/westworld.json
Labels: feature, triggers

#97 fix(targets): handle 502 as target unavailable
  targets/emby/api.go
  targets/plex/api.go
Labels: bug, targets
