Repository Cloudbox/autoscan, pull requests merged in 2021-04, with the labels that each got.

#109 refactor: default config directory
  cmd/autoscan/config.go
  cmd/autoscan/main.go
  go.mod
  go.sum
Labels: cmd, refactor

#110 log: display current version
  cmd/autoscan/main.go
Labels: cmd, logging

#116 feat: health check
  cmd/autoscan/health.go
  cmd/autoscan/main.go
Labels: cmd, feature
